.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0.1%;
    border: 1px solid black;
    background: purple;
  }
  .dead {
  background: #264653;
  }
  .stageOne {
    background: #2a9d8f;
  }
  .stageTwo {
    background: #e9c46a;
  }
  .stageThree {
    background: #f4a261;
  }
  .stageFour {
    background: #e76f51;
  }
  .stageFive {
    background: #af69ee
  }
  